# ---------------------
# Postgres
# ---------------------
POSTGRES_USER=user
POSTGRES_PASSWORD="postgres_password_here"
POSTGRES_DB=mnrva
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432


# ---------------------
# Qdrant
# ---------------------
QDRANT_URL=http://localhost:6333            # defaulting to local deployment
QDRANT_API_KEY=                             # Fill when deploying qdrant in the cloud


# ---------------------
# External APIs
# ---------------------
OPENAI_API_KEY="your_openai_api_key"
OPENAI_MAX_REQUESTS_PER_MINUTE=250          # change according to tier, defaulting to the lowest tier
OPENAI_MAX_TOKENS_PER_MINUTE=100000         # change according to tier, defaulting to the lowest tier


# ---------------------
# LangSmith (Optional)
# ---------------------
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="your_langsmith_endpoint"
LANGSMITH_API_KEY="your_langsmith_api_key"
LANGSMITH_PROJECT="mnrva"


# ---------------------
# Models
# ---------------------
EMBEDDING_MODEL=text-embedding-3-small
ENRICHMENT_MODEL=gpt-4.1-mini
AGENT_MODEL=gpt-4.1-mini


# ---------------------
# Ingestion / Sync Settings
# ---------------------
# Ingestion variables
ENRICHMENT_MAX_CONCURRENCY=10
ENRICHMENT_MAX_CHUNKS_PER_CALL=20
ENRICHMENT_MAX_CALL_RETRIES=2
EMBEDDING_BATCH_SIZE=100
SKIP_CHECK_BATCH_SIZE=100

# Query Agent
TOP_CHUNKS_TO_RETREIVE=5
GRADE_MAX_CONCURRENCY=10
CONVERSATION_WINDOW_TURNS=3

# Allowed frontend origins
FRONTEND_ORIGIN="http://localhost:5173"


# ---------------------
# Frontend
# ---------------------
# Backend API base URL used by the frontend in local deploymnet
VITE_API_BASE_URL="http://localhost:8000"